.form-container {
  margin: 1rem 0;
}


.label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  color: var(--tuned-color);
  margin-bottom: 8px;
}

.placeholder-button {
  padding: 5px;
  border-radius: 3px;
  background: white;
  border: 0.5px solid var(--border-muted);
  color: var(--text-button);
  cursor: pointer;
  font-size: 12px;
}

.editable-content {
  padding: 8px;
  font-size: 13px;
  border: 1px solid #ccc;
  min-height: 100px;
  white-space: pre-wrap;
  width: 100%;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
  transition: border-color 0.3s;
  color: var(--text-muted);
}

.editable-content:hover {
  border-color: var(--primary-color);
}

.placeholders {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 12px 12px;

  button {
    margin: 2px;
  }
}


