<div class="form-container">
  <div class="title">Test Page</div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name"/>
    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName="phone"/>
    <app-opening-sentence
      formControlName="openingSentence"
      [placeholders]="placeholdersMockData">
    </app-opening-sentence>
    <button  class="submit" type="submit">Submit</button>
  </form>
</div>
